<zk>
	<window title="Bug Report" height="400px" width="600px">
		<vbox align="center" vflex="1">
			<hbox align="center">
				<label id="lblLabel" value="An unhandled exception has occurred. This is most likely a bug. Please save a copy of the detailed exception and file a bug report." />
				<space />
				<button id="btnSaveErrorLog" label="Save Error Log" />
				<space />
				<button id="btnClose" label="Close" orient="vertical" />
			</hbox>
			<textbox id="txtErrorLog" hflex="1" vflex="1" multiline="true" readonly="true" />
		</vbox>
	</window>
</zk>