<zk>
	<window title="Bug Report" height="400px" width="600px">
		<vbox align="center" vflex="1">
			<hbox align="center">
				<grid sclass="input-field">
					<columns>
						<column width="60px" />
						<column />
					</columns>
					<rows>
						<row>
							<label id="lblMailTo" value="To" />
							<textbox id="txtMailTo" hflex="1" />
						</row>
						<row>
							<label id="lblMailSubject" value="Subject" />
							<textbox id="txtMailSubject" hflex="1" />
						</row>
					</rows>
				</grid>
				<space />
				<button id="btnSendMail" label="Send Mail" orient="vertical" />
				<space />
				<button id="btnClose" label="Close" orient="vertical" />
			</hbox>
			<textbox id="txtMailText" hflex="1" vflex="1" multiline="true" />
		</vbox>
	</window>
</zk>